/* tile-like list of links to individual chapters */
.course-tile {

	height: 100%;

 	a {
 		position: relative;
		display: block;
		border: 1px solid white;
		border-radius: 3px;
		margin-top: 70px;
		margin-bottom: 20px;
		background-color: rgba(255, 255, 255, 0.5);
		text-decoration: none;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
		text-align: center;

		&:hover {
			text-decoration: none;
		}
	}

	.course-badge {

		position: absolute;
		top: -40px;
		left: 0;
		width: 100%;

		img {
			height: 120px;
			width: 120px;
			border-radius: 100%;
			border: 8px solid #FFFFFF;
			overflow: hidden;
			background-image: linear-gradient(to top, $splash-header-color 0px, lighten($splash-header-color, 20%) 100%);
			box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
		}
	}

	.header-image {
		width: 100%;
		min-height: 100px;
	}

	.info {
		padding: 15px;

		.title {
			display: block;
			font-weight: bold;
			font-size: 1.2em;
		}

		.subtitle {
			display: block;
			font-style: italic;
			font-size: 1em;
		}

		p {
			text-align: justify;
			padding-top: 10px;
		}
	}

	

}