.splash-header {
    width: 100%;
    text-align: center;
	font-size: 2.4rem;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);

    padding-top: 160px;
    padding-bottom: 100px;

    background-color: $splash-header-color;
    background-size: 150px, auto;
    background-position: 0px 0px;
    background-repeat: repeat;
    /*background-image: url("#{$static}/images/diamond-bg-tile.png"), 
        linear-gradient(to bottom, $splash-header-color 0px, lighten($splash-header-color, 20%) 100%);*/
}

.splash-header h1 {
	font-size: 6rem;
	font-weight: bold;
	color: #FFFFFF;
    font-family: LunchBox;
}

.splash-header p {
	font-size: 1.4rem;
	opacity: 0.6;
}
